<div class="container">
    <a class="btn btn-primary" href="#!/home">Главная</a>
    <br>
    <form ng-submit="$ctrl.sendText()">
        <div class="form-group">
            <label for="text">Текст на рассылку</label>
            <input class="form-control" id=text ng-model="$ctrl.description" type="text">
        </div>
        <br>
        <div class="local-center">
            <button class="btn btn-primary">Отправить</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Фамилия Имя Отчество</th>
            <th>Специальность</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resume in $ctrl.resumeList">
            <td class="col-sm-4"><a href="#!/resume/{{resume.id}}">{{resume.fio}}</a></td>
            <td class="col-sm-4">{{resume.profession}}</td>
            <td class="col-sm-4">
                <form ng-submit="$ctrl.Delete(resume.id)">
                    <button class="btn btn-primary">Удалить из списка на рассылку</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>