<div class="container">
    <form class="form">
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.fio" placeholder="Фамилия Имя Отчество" type="text">
            </div>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.sex" placeholder="Пол (М или Ж)" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.timeOfEmployment"
                       placeholder="Желаемое количество рабочих часов (Ставка)"
                       type="text">
            </div>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.dateOfBirth"
                       placeholder="Дата рождения в формате ГГГГ-ММ-ДД"
                       type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.profession" placeholder="Специальность" type="text">
            </div>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.post" placeholder="Должность" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.workExperience" placeholder="Опыт работы в месяцах"
                       type="text">
            </div>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.lastWork" placeholder="Последнее место работы"
                       type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.typeOfEmployment"
                       placeholder="Тип занятости (очное, удаленно)"
                       type="text">
            </div>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.resume.salary" placeholder="Заработная плата" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <input class="form-control" ng-model="$ctrl.resume.skills"
                       placeholder="Ключевые навыки, перечисленные через ', '"
                       type="text">
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-primary" href="#!/home">Главная</a>
        </div>
        <div class="col-sm-8">
            <div class="local-center">
                <button class="btn btn-primary" ng-click="$ctrl.Add()">Сохранить</button>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>